{% extends 'base.html' %}

{% block content %}

<HTML:5>
    <head>
        <title>Iniciar sesión</title>
    </head>
    <body>
        <main class="container py-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="display-1 text-center">Iniciar sesión</h1>
                    <p class="text-center text-muted mt-4">
                        {{ message }}
                    </p>
                    <form method="post" action="/signin/" class="card card-body text-center mt-4">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </form>
                </div>                
            </div>
        </main>
    </body>

            
</HTML:5>

{% endblock %}